In [2]:
import regex as re
re.findall(r"[a-c]", "data science machine learning")

['a', 'a', 'c', 'c', 'a', 'c', 'a']

In [2]:
re.findall(r"[a-cAD]", "DAta science machine learning")

['D', 'A', 'a', 'c', 'c', 'a', 'c', 'a']

In [5]:
re.findall("D.t", "Data science")

['Dat']

In [6]:
re.findall("D..a", "Data science")

['Data']

In [12]:
re.findall(r"^hello", "hello world")   # if a string starts with specific letters then it will return this

['hello']

In [23]:
re.findall(r"^hello", "world hello")  # here it will return as empty because the string is not starting with the specific values

[]

In [24]:
re.findall(r"hello$", "world hello") # to get the output of the string which is ending with specific letters we need to use $ sign

['hello']

In [28]:
re.findall(r"d*", "datascdataengdbms") # it will return the dtring and will search for the next occurence and until that it will return empty string

['d', '', '', '', '', '', 'd', '', '', '', '', '', '', 'd', '', '', '', '']

In [33]:
re.findall(r"a*b", "aaab ab b aab") # it returns the zero or more occurrences of 'a' and a single 'b'

['aaab', 'ab', 'b', 'aab']

In [32]:
re.findall(r"b*a", "aaab ab b aab bba")

['a', 'a', 'a', 'a', 'a', 'a', 'bba']

In [3]:
re.findall(r"a+", "aaa a dad")  # searches for zero or more occurence of "a"

['aaa', 'a', 'a']

In [8]:
re.findall("\d+", "Address is 101, Floor 121") # searches for the numeric digit

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\dell\AppData\Local\Temp\ipykernel_13896\3170161896.py:1: SyntaxWarning: invalid escape sequence '\d'
  re.findall("\d+", "Address is 101, Floor 121") # searches for the numeric digit

['101', '121']

In [7]:
re.findall(r"a?t","datxata") # searches for zero or more occurence of "at"

['at', 'at']

In [11]:
re.findall("falls|stays", "He whos falls and stays down is lost") # search for specific words

['falls', 'stays']

In [15]:
re.findall("he.{2}o", "hello hecco hezzoon") #search for specific words which match the specific format

['hello', 'hecco', 'hezzo']

In [17]:
re.findall("he.{3}o", "hello hecco hezzoon")

['hezzoo']

In [ ]:
re.findall

In [6]:
output = re.findall("\d+", "Address is 101, Floor 121")  # it will return the output as string

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\dell\AppData\Local\Temp\ipykernel_17668\2514651692.py:1: SyntaxWarning: invalid escape sequence '\d'
  output = re.findall("\d+", "Address is 101, Floor 121")  # it will return the output as string

In [8]:
output #the output is in a form of string

['101', '121']

In [10]:
[int(i) for i in output]  # this is way to convert the string to numeric or integer form

[101, 121]

In [12]:
re.findall (r"\w+","data science 101!") # this is used to filter the special characters and to get the string and integer value

['data', 'science', '101']

In [15]:
re.findall(r"\S+@\S+", "Contact: a@b.com, c@d.net") # this is the waybto extract the email id

['a@b.com,', 'c@d.net']

In [18]:
re.findall(r"[A-Z]", "Python Is Fun") # only capital letters will get return as output

['P', 'I', 'F']

# re.search function

In [21]:
re.search(r"data", " science data") # it looks for the first occurrence of the substring "data" in the string " science data" and also shows the index range

In [24]:
re.search(r"data", " science data").group()  # it will give the cumulative output

'data'

In [28]:
re.search(r"data", "Data science", re.IGNORECASE) # it ignores the lower or uppercase and search for the respective match

In [31]:
re.search(r"c.t", "cat, cut, cot") # though all the words matches with the specific format but still it will return the first match

In [33]:
re.search(r"\d{3}-\d{3}-\d{4}", "Call 123-456-7890")  # it will return the match of numeric only

# re.split function

In [35]:
re.split(r"\s+", "Data Sci ence") # it splits the string by deleting the whitespaes

['Data', 'Sci', 'ence']

In [37]:
re.split(r",", " data,science,course") # it returns the comma separated value in a split format

[' data', 'science', 'course']

In [40]:
re.split(r"[;:, ]" ,"a,b:c;d")  # it will filter the specific characters and return the output

['a', 'b', 'c', 'd']

In [43]:
re.split(r"\d+", "abc123xyz456def") # "123" is matched and removed â†’ splits between "abc" and "xyz"

['abc', 'xyz', 'def']

In [44]:
re.split(r"\D+", "abc123xyz456def") # it splits the non digit characters and remove

['', '123', '456', '']

In [48]:
re.split(r"\W+", "world1_world2-world3 world4") # it will split the special characters and return the string only '_' is included

['world1_world2', 'world3', 'world4']