In [ ]:
#### FUNCTIONS

In [1]:
# this way we can declare a function (def stands for define)
def add():
    print ("test")

In [2]:
add()

test

In [11]:
# generalize function
def operation(x,y):
    print (x*y)
    print (x+y)
    print (x-y)

In [7]:
operation (2,3)

6
5
-1

In [13]:
def operation(x,y):
    print (x*y)

In [14]:
operation (2, "data")

datadata

In [19]:
def greater (x,y):
    if x>y:
        print ("true")
    else:
        print ("false")

In [26]:
greater (10,20)
greater (100,11)

false
true

In [ ]:
# fundamental difference between PRINT and RETURN is 
print will display the value where return will store the value

In [1]:
def add (x,y):
    print (x+y)

In [2]:
var= add(10,20)

30

In [12]:
var #var is getting called but it has not stored the value

30

In [7]:
def add1 (x,y):
    return (x+y)

In [9]:
var= add1 (10,20)

In [11]:
var # here the output is stored in var thats why we have called var and got the output

30

In [21]:
# 2nd cenario (here PRINT is called ahead of RETURN thats why the output is displaying and also got stored in VAR)
def add (x,y):
    print (x+y)
    return (x+y)

In [24]:
var= add (10,20)
var

30

In [22]:
# 3rd cenario (here RETURN is called ahead of PRINT thats why it is not diplaying the the output only storing inside VAR)
# AFTER RETURN STATEMENT NO OTHER STATEMENT WILL GET EXECUTED
def add (x,y):
    return (x+y)
    print (x+y)

In [23]:
var= add (10,20)
var

30

In [35]:
# count the occurence of letters in the string "DATA"
def check (x):
    for i in list(set(x)):
        print (i,x.count(i))

In [36]:
check ("data")

t 1
d 1
a 2

In [32]:
check ('data science')

e 2
a 2
t 1
c 2
d 1
i 1
n 1
  1
s 1

In [38]:
# if We need to ignore the space then the code will be like below
def check (x):
    for i in list(set(x)):
        if i.isalpha():
            print (i,x.count(i))

In [39]:
check ('data science')

e 2
a 2
t 1
c 2
d 1
i 1
n 1
s 1

In [49]:
# build a list of unique characters from the string "data"

unique=[]
for i in "data":
    if i not in unique:
        unique.append(i)

In [50]:
 unique

['d', 'a', 't']

In [75]:
# build a dict of unique characters from the string "xyz"
def count_char(x):
    d={}
    for i in x:
        if i in d:
            d[i]=d[i]+1
        else:
            d[i]=1
    return d

In [81]:
count_char("datA")

{'d': 1, 'a': 1, 't': 1, 'A': 1}

In [82]:
count_char("data science")

{'d': 1, 'a': 2, 't': 1, ' ': 1, 's': 1, 'c': 2, 'i': 1, 'e': 2, 'n': 1}

In [108]:
# build a dict of unique characters from the string "xyz" but it should consider upper and lower as same character

def count_char(x):
    d={}
    for i in x:
        i=i.lower()
        if i in d:
            d[i]=d[i]+1
        else:
            d[i]=1
    return d

In [110]:
count_char ("DATAdd")

{'d': 3, 'a': 2, 't': 1}

In [111]:
# alternative

def count_char(x):
    d={}
    for i in x.lower():
        if i in d:
            d[i]=d[i]+1
        else:
            d[i]=1
    return d

In [112]:
count_char ("DATAdd")

{'d': 3, 'a': 2, 't': 1}

In [6]:
# Find the length, number of words, numbers of small case, number of upper case, number of numeric and number of special char

data= '''Haier 328 L, 3 Star, Convertible 10-in-1, 
Triple Inverter & Dual Fan Motor Technology,
Frost Free Double Door Refrigerator (HEF-333TS-P, Inox Steel)'''

In [7]:
data

'Haier 328 L, 3 Star, Convertible 10-in-1, \nTriple Inverter & Dual Fan Motor Technology,\nFrost Free Double Door Refrigerator (HEF-333TS-P, Inox Steel)'

In [21]:

def analyze(x):
    length = len(x)
    numbers_of_words = len(x.split())
    small_count = 0
    caps_count= 0
    num_count= 0
    special_char_count= 0
    for i in x:
        if i.isalpha() and i.islower():
            small_count += 1
        elif i.isalpha() and i.isupper():
            caps_count += 1
        elif i.isnumeric():
            num_count += 1
        else:
            special_char_count += 1
        
    return [length,numbers_of_words,small_count,caps_count,num_count, special_char_count]

In [22]:
analyze(data)

[149, 22, 82, 23, 10, 34]

In [39]:
AC_specs= '''[25 January 2022
Manufacturer,

Daikin airconditioning India Pvt. Ltd., 210, 1st Floor, Okhla Industrial Area, Phase 3, Delhi 110020, Daikin airconditioning India Pvt. Ltd., 210, 1st Floor, Okhla Industrial Area, Phase 3, Delhi 110020
Packer	Daikin airconditioning India Pvt. Ltd., 210, 1st Floor, Okhla Industrial Area, Phase 3, Delhi 110020
Importer,


Daikin airconditioning India Pvt. Ltd., 210, 1st Floor, Okhla Industrial Area, Phase 3, Delhi 110020
Item Weight	36 kg,

Item Dimensions LxWxH	80 x 22.9 x 29.8 Centimeters
Net Quantity	1 count
Generic Name	Split airconditioner]'''

In [37]:
AC_specs

'25 January 2022\nManufacturer\n\nDaikin airconditioning India Pvt. Ltd., 210, 1st Floor, Okhla Industrial Area, Phase 3, Delhi 110020, Daikin airconditioning India Pvt. Ltd., 210, 1st Floor, Okhla Industrial Area, Phase 3, Delhi 110020\nPacker\tDaikin airconditioning India Pvt. Ltd., 210, 1st Floor, Okhla Industrial Area, Phase 3, Delhi 110020\nImporter\n\n\nDaikin airconditioning India Pvt. Ltd., 210, 1st Floor, Okhla Industrial Area, Phase 3, Delhi 110020\nItem Weight\t36 kg\n\nItem Dimensions LxWxH\t80 x 22.9 x 29.8 Centimeters\nNet Quantity\t1 count\nGeneric Name\tSplit airconditioner'

In [40]:
analyze(AC_specs)

[582, 87, 338, 57, 61, 126]

In [ ]:
# NESTED FUNCTION

In [45]:
def func1(x):
    print("function 1")
    def func2():
        print("function 2")
    def func3():
        print("function 3")
    if x==10:
        func2()
    else:
        func3()

In [46]:
func1(10)

function 1
function 2

In [49]:
func1(12)

function 1
function 3

In [52]:
# GLOBAL VARIABLE 

x=10        #here the variable is declared outside of the function 
def function():
    print (x)

In [53]:
function()

10

In [56]:
# LOCAL VARIABLE

x=10              #here the variable is declared outside of the function 
def function():
    x = "data"    #here the variable is declared inside of the function
    print (x)     #but here it will return the variable inside of the function because it will get prioritized

In [55]:
function()

data